In [1]:
import random as rd

insert = "insert into table "

In [2]:
Ho = [ 'Ho','Bui', 'Đoan', 'Le', 'Nguyen', 'Duong', 'Tran', 'Ly', 'Vu', 'Vo', 'Đang', 'Pham', 'Ung', 'An', 'Au','Truong', 'Lai', 'Gian' ]
tendem = ['Van','Thi','Chi','Gia','Hoang', 'Song', 'Tung' ]
ten = ['Ngoc Nhi','An','Anh','Bac','Bao','Cau','Cuc','Đan','Đang','Đuc','Thong','Tien','Tuan','Tin','Tiep','Viet','Vinh','Vu','Vy','Minh','Giang','khanh','Sang','Duy','Chi','Thuong','Chung','Phu','Quoc','Nam','Ngan','Nguyet','May' 
       ,'Tu','Thien','Tan','Han']

In [6]:
'''
NhanVien (
	MaNV 		varchar(10) primary key,
	TenNV 	varchar2(60) not null,
	Phai 		varchar2(4),
	NgaySinh 	date,
	DiaChi 	varchar2(100),
	SoDT 		varchar(10) not null unique,
	Luong 	number,
	PhuCap 	number,
	VaiTro 	varchar2(50),
	MaNQL 	varchar(10),
	PHG 		number
	
)
go
'''
'''
Nhân viên - 300
Quản lí - 20
Trưởng phòng - 8
Tài chính - 5
Nhân sự - 5
Trưởng đề án - 3
Ban giám đốc - 5
'''
sex = ['Nam', 'Nu']
import string

username = ''
MaNV = ''
TenNV = ''
Phai = ''
NgaySinh = ''
DiaChi 	= ''
SoDT 	= ''
Luong 	= 0
PhuCap 	= 0
VaiTro 	= ''
MaNQL 	= 'NULL'
PHG 	= 0
for i in range(1, 347):
    Luong = rd.randint(1000, 9999)
    PhuCap = rd.randint(1000, 2000)
    PHG = i % 8 + 1
    if i < 6:
        MaNV = '\'GD00'+ str(i) + '\''
        VaiTro 	= '\'Giam doc\''
        Luong = 55555
    elif i < 11:
        MaNV = '\'TC0'+ str(i) + '\''
        VaiTro 	= '\'Tai chinh\''
        Luong = 11000
    elif i < 16:
        MaNV = '\'NS0'+ str(i) + '\''
        VaiTro 	= '\'Nhan su\''
        Luong = 13000
    elif i < 36:
        MaNV = '\'QL0'+ str(i) + '\''
        VaiTro 	= '\'Quan li\''
        Luong = 25000
    elif i < 39:
        MaNV = '\'TDA0'+ str(i) + '\''
        VaiTro 	= '\'Truong de an\''
        Luong = 20000
    elif i < 47:
        MaNV = '\'TP0'+ str(i) + '\''
        VaiTro 	= '\'Truong phong\''
        Luong = 22000
        PHG = i - 38
    else:
        MaNV = '\'NV'+ str(i) + '\''
        VaiTro 	= '\'Nhan vien\''
        MaNQL = '\'QL0' + str((i - 47) % 20 + 16) + '\''
     
    
    account_suffix = MaNV.replace("'", "")
    username = f'\'123\''

    SoDT = '\'0945000' + str(i) + '\''
    TenNV = '\'' + rd.choice(Ho) + ' ' + rd.choice(tendem) + ' ' + rd.choice(ten) + '\''
    DiaChi = '\'227 Nguyen Van Cu, Quan 1, TP. HCM\'' 
    Phai = '\'' + rd.choice(sex) + '\''
    NgaySinh  = 'TO_DATE(' + '\'' + str(rd.randint(2000, 2022)) + '-' + str(rd.randint(1, 12)) + '-' + str(rd.randint(1, 28)) + '\',\'YYYY-MM-DD\')'
    
    final = MaNV + ', ' + TenNV + ', ' + Phai + ', ' + NgaySinh + ', ' + DiaChi +', ' + SoDT + ', ' + str(Luong) + ', ' + str(PhuCap) +', '+ VaiTro + ', ' + MaNQL + ', ' + str(PHG) + ', ' + username
    area = ''

    if (PHG < 3) :
        area = 'Mien Bac'
    elif (PHG < 6) :
        area = 'Mien Nam'
    else:
        area = 'Mien Trung'
    
    lv = ''
    if (i%3 == 0):
        lv = "Mua Ban"
    elif (i%3 == 1):
        lv = "San Xuat"
    else:
        lv = 'Gia Cong'
    
    final += (', \'' + area + '\', \'' + lv +'\'')
    print (' into ATBM.NHANVIEN values(' +  final + ')')
    
   # print('insert into TaiKhoan values(' + TenTaiKhoan + HoTen + str(Mk) + sdt + DiaChi + Email + LoaiTaiKhoan +')')

 into ATBM.NHANVIEN values('GD001', 'Duong Thi Sang', 'Nam', TO_DATE('2007-4-5','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450001', 55555, 1615, 'Giam doc', NULL, 2, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('GD002', 'Le Song Viet', 'Nu', TO_DATE('2010-9-7','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450002', 55555, 1385, 'Giam doc', NULL, 3, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('GD003', 'Gian Tung Đang', 'Nu', TO_DATE('2003-8-8','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450003', 55555, 1195, 'Giam doc', NULL, 4, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('GD004', 'Au Gia Tan', 'Nam', TO_DATE('2004-11-17','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450004', 55555, 1250, 'Giam doc', NULL, 5, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('GD005', 'Vo Van Giang', 'Nam', TO_DATE('2002-11-24','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450005', 55555, 1558, 'Giam doc', NULL, 6, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('TC06', 'Nguyen Chi Tin', 'Nu', TO_DATE('2001-10-9','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450006', 11000, 1232, 'Tai chinh', NULL, 7, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('TC07', 'Pham Song Giang', 'Nu', TO_DATE('2017-4-15','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450007', 11000, 1900, 'Tai chinh', NULL, 8, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('TC08', 'Ly Chi Quoc', 'Nam', TO_DATE('2012-1-1','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450008', 11000, 1563, 'Tai chinh', NULL, 1, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('TC09', 'Nguyen Song Minh', 'Nu', TO_DATE('2011-5-15','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '09450009', 11000, 1237, 'Tai chinh', NULL, 2, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('TC010', 'Ho Van Tuan', 'Nam', TO_DATE('2021-2-4','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500010', 11000, 1419, 'Tai chinh', NULL, 3, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NS011', 'Bui Chi Vu', 'Nam', TO_DATE('2000-2-22','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500011', 13000, 1518, 'Nhan su', NULL, 4, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NS012', 'Nguyen Hoang Đang', 'Nam', TO_DATE('2020-12-23','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500012', 13000, 1834, 'Nhan su', NULL, 5, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NS013', 'Vo Thi Tuan', 'Nam', TO_DATE('2002-4-19','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500013', 13000, 1202, 'Nhan su', NULL, 6, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NS014', 'Ung Gia Anh', 'Nam', TO_DATE('2019-1-13','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500014', 13000, 1982, 'Nhan su', NULL, 7, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NS015', 'An Chi Nam', 'Nam', TO_DATE('2007-10-19','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500015', 13000, 1731, 'Nhan su', NULL, 8, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('QL016', 'An Tung Bao', 'Nu', TO_DATE('2011-1-2','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500016', 25000, 1414, 'Quan li', NULL, 1, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('QL017', 'Bui Tung Phu', 'Nu', TO_DATE('2001-11-5','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500017', 25000, 1647, 'Quan li', NULL, 2, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('QL018', 'Pham Tung Ngoc Nhi', 'Nam', TO_DATE('2015-4-1','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500018', 25000, 1263, 'Quan li', NULL, 3, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('QL019', 'Tran Gia Nguyet', 'Nam', TO_DATE('2021-8-4','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500019', 25000, 1002, 'Quan li', NULL, 4, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('QL020', 'Duong Chi Nguyet', 'Nu', TO_DATE('2009-12-26','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500020', 25000, 1998, 'Quan li', NULL, 5, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('QL021', 'Au Chi Chi', 'Nam', TO_DATE('2004-11-26','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500021', 25000, 1648, 'Quan li', NULL, 6, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('QL022', 'Tran Chi Đuc', 'Nu', TO_DATE('2015-8-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500022', 25000, 1665, 'Quan li', NULL, 7, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('QL023', 'Nguyen Tung Thien', 'Nu', TO_DATE('2000-1-28','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500023', 25000, 1035, 'Quan li', NULL, 8, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('QL024', 'Truong Thi khanh', 'Nu', TO_DATE('2019-5-28','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500024', 25000, 1269, 'Quan li', NULL, 1, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('QL025', 'Au Tung Tuan', 'Nu', TO_DATE('2017-7-3','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500025', 25000, 1198, 'Quan li', NULL, 2, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('QL026', 'Pham Song Ngan', 'Nam', TO_DATE('2001-6-1','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500026', 25000, 1432, 'Quan li', NULL, 3, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('QL027', 'Vo Gia khanh', 'Nu', TO_DATE('2014-10-23','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500027', 25000, 1804, 'Quan li', NULL, 4, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('QL028', 'Pham Chi Đang', 'Nu', TO_DATE('2011-6-17','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500028', 25000, 1071, 'Quan li', NULL, 5, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('QL029', 'Ly Van Thong', 'Nam', TO_DATE('2015-9-27','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500029', 25000, 1366, 'Quan li', NULL, 6, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('QL030', 'Duong Chi Tiep', 'Nu', TO_DATE('2001-2-12','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500030', 25000, 1037, 'Quan li', NULL, 7, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('QL031', 'Ung Chi Cau', 'Nam', TO_DATE('2010-11-12','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500031', 25000, 1020, 'Quan li', NULL, 8, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('QL032', 'An Hoang Bac', 'Nu', TO_DATE('2012-1-21','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500032', 25000, 1456, 'Quan li', NULL, 1, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('QL033', 'Le Gia Viet', 'Nam', TO_DATE('2021-8-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500033', 25000, 1027, 'Quan li', NULL, 2, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('QL034', 'Đoan Hoang Đang', 'Nu', TO_DATE('2016-8-4','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500034', 25000, 1585, 'Quan li', NULL, 3, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('QL035', 'Le Song Minh', 'Nam', TO_DATE('2010-8-28','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500035', 25000, 1514, 'Quan li', NULL, 4, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('TDA036', 'Gian Thi Nguyet', 'Nu', TO_DATE('2016-5-22','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500036', 20000, 1973, 'Truong de an', NULL, 5, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('TDA037', 'Bui Hoang Minh', 'Nu', TO_DATE('2010-3-2','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500037', 20000, 1099, 'Truong de an', NULL, 6, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('TDA038', 'Lai Van Cau', 'Nu', TO_DATE('2020-5-13','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500038', 20000, 1854, 'Truong de an', NULL, 7, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('TP039', 'Truong Chi Thuong', 'Nam', TO_DATE('2012-2-3','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500039', 22000, 1700, 'Truong phong', NULL, 1, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('TP040', 'Bui Hoang Thien', 'Nu', TO_DATE('2002-10-3','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500040', 22000, 1113, 'Truong phong', NULL, 2, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('TP041', 'Gian Thi Anh', 'Nam', TO_DATE('2017-9-26','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500041', 22000, 1235, 'Truong phong', NULL, 3, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('TP042', 'Đang Hoang Thong', 'Nu', TO_DATE('2016-11-23','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500042', 22000, 1839, 'Truong phong', NULL, 4, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('TP043', 'Bui Van khanh', 'Nu', TO_DATE('2010-8-16','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500043', 22000, 1288, 'Truong phong', NULL, 5, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('TP044', 'Đang Chi Thong', 'Nam', TO_DATE('2005-12-24','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500044', 22000, 1557, 'Truong phong', NULL, 6, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('TP045', 'Đang Thi Đang', 'Nam', TO_DATE('2009-7-5','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500045', 22000, 1312, 'Truong phong', NULL, 7, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('TP046', 'Le Tung Chi', 'Nam', TO_DATE('2000-11-27','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500046', 22000, 1729, 'Truong phong', NULL, 8, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NV47', 'Duong Thi Chung', 'Nam', TO_DATE('2007-9-19','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500047', 7545, 1018, 'Nhan vien', 'QL016', 8, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NV48', 'Ly Thi Tuan', 'Nam', TO_DATE('2007-7-22','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500048', 6854, 1996, 'Nhan vien', 'QL017', 1, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('NV49', 'Vo Chi Minh', 'Nu', TO_DATE('2005-12-1','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500049', 6262, 1494, 'Nhan vien', 'QL018', 2, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('NV50', 'Au Song Tan', 'Nu', TO_DATE('2011-8-2','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500050', 2977, 1507, 'Nhan vien', 'QL019', 3, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NV51', 'Đoan Van Tuan', 'Nam', TO_DATE('2017-5-5','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500051', 1277, 1110, 'Nhan vien', 'QL020', 4, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NV52', 'Vu Chi Thuong', 'Nu', TO_DATE('2011-5-4','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500052', 1314, 1154, 'Nhan vien', 'QL021', 5, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NV53', 'Duong Thi Vy', 'Nu', TO_DATE('2019-2-19','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500053', 2286, 1724, 'Nhan vien', 'QL022', 6, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NV54', 'Tran Gia Vy', 'Nam', TO_DATE('2011-1-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500054', 4152, 1437, 'Nhan vien', 'QL023', 7, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('NV55', 'Duong Gia Chi', 'Nu', TO_DATE('2014-12-6','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500055', 3471, 1527, 'Nhan vien', 'QL024', 8, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NV56', 'Gian Van Tu', 'Nam', TO_DATE('2003-2-24','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500056', 4125, 1076, 'Nhan vien', 'QL025', 1, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('NV57', 'Truong Song Thien', 'Nu', TO_DATE('2002-9-10','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500057', 1636, 1272, 'Nhan vien', 'QL026', 2, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('NV58', 'Lai Tung Cau', 'Nu', TO_DATE('2001-2-8','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500058', 3019, 1857, 'Nhan vien', 'QL027', 3, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NV59', 'Ly Tung Cau', 'Nu', TO_DATE('2020-12-23','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500059', 9104, 1417, 'Nhan vien', 'QL028', 4, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NV60', 'Bui Song Đan', 'Nu', TO_DATE('2001-1-15','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500060', 8606, 1771, 'Nhan vien', 'QL029', 5, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NV61', 'An Chi Vinh', 'Nu', TO_DATE('2019-11-1','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500061', 1455, 1389, 'Nhan vien', 'QL030', 6, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NV62', 'Vu Hoang Thong', 'Nu', TO_DATE('2010-3-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500062', 5053, 1416, 'Nhan vien', 'QL031', 7, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NV63', 'An Song An', 'Nu', TO_DATE('2003-4-11','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500063', 7182, 1326, 'Nhan vien', 'QL032', 8, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('NV64', 'Truong Tung Tiep', 'Nu', TO_DATE('2006-6-17','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500064', 9404, 1143, 'Nhan vien', 'QL033', 1, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('NV65', 'Đang Hoang Đuc', 'Nam', TO_DATE('2011-8-11','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500065', 7173, 1565, 'Nhan vien', 'QL034', 2, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('NV66', 'Gian Hoang Thien', 'Nu', TO_DATE('2015-9-15','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500066', 4143, 1355, 'Nhan vien', 'QL035', 3, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NV67', 'Ho Chi Tan', 'Nam', TO_DATE('2009-11-21','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500067', 3214, 1682, 'Nhan vien', 'QL016', 4, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NV68', 'Vo Thi Anh', 'Nu', TO_DATE('2021-7-16','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500068', 7153, 1582, 'Nhan vien', 'QL017', 5, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NV69', 'Au Tung Tuan', 'Nu', TO_DATE('2020-9-28','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500069', 7387, 1052, 'Nhan vien', 'QL018', 6, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('NV70', 'Vu Song Sang', 'Nu', TO_DATE('2002-6-18','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500070', 8708, 1861, 'Nhan vien', 'QL019', 7, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NV71', 'An Thi Thong', 'Nu', TO_DATE('2008-7-22','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500071', 9893, 1820, 'Nhan vien', 'QL020', 8, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NV72', 'Ly Hoang Anh', 'Nu', TO_DATE('2012-4-15','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500072', 8866, 1978, 'Nhan vien', 'QL021', 1, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('NV73', 'Le Van Vu', 'Nam', TO_DATE('2003-12-7','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500073', 7491, 1749, 'Nhan vien', 'QL022', 2, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('NV74', 'Bui Tung Nguyet', 'Nam', TO_DATE('2012-9-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500074', 7086, 1382, 'Nhan vien', 'QL023', 3, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NV75', 'Vu Hoang Vy', 'Nu', TO_DATE('2021-5-9','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500075', 6416, 1364, 'Nhan vien', 'QL024', 4, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NV76', 'Nguyen Gia Đuc', 'Nu', TO_DATE('2001-10-3','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500076', 7330, 1390, 'Nhan vien', 'QL025', 5, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NV77', 'Duong Gia Viet', 'Nu', TO_DATE('2000-11-2','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500077', 8951, 1187, 'Nhan vien', 'QL026', 6, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NV78', 'Đoan Van Giang', 'Nu', TO_DATE('2014-5-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500078', 2012, 1619, 'Nhan vien', 'QL027', 7, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('NV79', 'Gian Hoang Tien', 'Nu', TO_DATE('2016-2-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500079', 6717, 1993, 'Nhan vien', 'QL028', 8, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NV80', 'Truong Hoang Chi', 'Nu', TO_DATE('2002-9-16','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500080', 3208, 1584, 'Nhan vien', 'QL029', 1, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('NV81', 'Truong Tung Tu', 'Nu', TO_DATE('2010-11-3','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500081', 3791, 1867, 'Nhan vien', 'QL030', 2, '123', 'Mien Bac', 'Mua Ban')
 into ATBM.NHANVIEN values('NV82', 'Duong Gia Chi', 'Nu', TO_DATE('2016-2-2','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500082', 2839, 1956, 'Nhan vien', 'QL031', 3, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NV83', 'Le Thi Quoc', 'Nu', TO_DATE('2020-2-7','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500083', 8698, 1914, 'Nhan vien', 'QL032', 4, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NV84', 'Pham Song khanh', 'Nu', TO_DATE('2001-4-11','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500084', 7228, 1098, 'Nhan vien', 'QL033', 5, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NV85', 'Vu Hoang Thien', 'Nam', TO_DATE('2006-12-18','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500085', 2672, 1834, 'Nhan vien', 'QL034', 6, '123', 'Mien Trung', 'San Xuat')
 into ATBM.NHANVIEN values('NV86', 'Đoan Thi Thuong', 'Nu', TO_DATE('2010-2-26','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500086', 4771, 1290, 'Nhan vien', 'QL035', 7, '123', 'Mien Trung', 'Gia Cong')
 into ATBM.NHANVIEN values('NV87', 'Au Tung Giang', 'Nu', TO_DATE('2001-12-21','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500087', 3594, 1033, 'Nhan vien', 'QL016', 8, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('NV88', 'Pham Song Vinh', 'Nam', TO_DATE('2019-8-18','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500088', 1898, 1724, 'Nhan vien', 'QL017', 1, '123', 'Mien Bac', 'San Xuat')
 into ATBM.NHANVIEN values('NV89', 'Đang Gia Nguyet', 'Nam', TO_DATE('2006-5-17','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500089', 2065, 1442, 'Nhan vien', 'QL018', 2, '123', 'Mien Bac', 'Gia Cong')
 into ATBM.NHANVIEN values('NV90', 'Bui Chi Quoc', 'Nam', TO_DATE('2005-1-17','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500090', 4844, 1356, 'Nhan vien', 'QL019', 3, '123', 'Mien Nam', 'Mua Ban')
 into ATBM.NHANVIEN values('NV91', 'Vo Gia Chi', 'Nam', TO_DATE('2012-1-11','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500091', 1339, 1890, 'Nhan vien', 'QL020', 4, '123', 'Mien Nam', 'San Xuat')
 into ATBM.NHANVIEN values('NV92', 'Gian Hoang Ngoc Nhi', 'Nu', TO_DATE('2012-6-8','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500092', 9088, 1677, 'Nhan vien', 'QL021', 5, '123', 'Mien Nam', 'Gia Cong')
 into ATBM.NHANVIEN values('NV93', 'Truong Hoang Anh', 'Nam', TO_DATE('2020-8-2','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500093', 9085, 1178, 'Nhan vien', 'QL022', 6, '123', 'Mien Trung', 'Mua Ban')
 into ATBM.NHANVIEN values('NV94', 'Ly Thi Cuc', 'Nam', TO_DATE('2016-6-14','YYYY-MM-DD'), '227 Nguyen Van Cu, Quan 1, TP. HCM', '094500094', 2259, 1261, 'Nhan vien', 'QL023', 7, '123', 'Mien Trung', 'San Xuat')

In [7]:
KV = ['Quan 1', 'Quan 2', 'Quan 3','Quan 4','Quan 5','Quan 6','Quan 7','Quan 8','Quan 9','Quan 10','Quan 11','Quan 12','Quan 13', 'Quan Bình Thạnh', 'Quan Tân Bình', 'Hóoc Môn']

## Phong Ban

In [2]:
'''
PhongBan (
	MaPB 	number primary key,
	TenPB 	varchar2(60) not null,
	TrPHG 	varchar(10)
	
)	
'''


for i in range(1, 9):
    final = str(i) + ', ' + '\'Phong ' + str(i) + '\', NULL' 
    print('into GOD.PHONGBAN values(' +  final + ')')

into GOD.PHONGBAN values(1, 'Phong 1', NULL)
into GOD.PHONGBAN values(2, 'Phong 2', NULL)
into GOD.PHONGBAN values(3, 'Phong 3', NULL)
into GOD.PHONGBAN values(4, 'Phong 4', NULL)
into GOD.PHONGBAN values(5, 'Phong 5', NULL)
into GOD.PHONGBAN values(6, 'Phong 6', NULL)
into GOD.PHONGBAN values(7, 'Phong 7', NULL)
into GOD.PHONGBAN values(8, 'Phong 8', NULL)

In [7]:
for i in range(1, 9):
    print( ' UPDATE GOD.PHONGBAN set TrPHG = ' + '\'TP0'+ str(i+ 38) + '\'' + ' WHERE ' +  'MaPB = ' + str(i)+ ';')

 UPDATE GOD.PHONGBAN set TrPHG = 'TP039' WHERE MaPB = 1;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP040' WHERE MaPB = 2;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP041' WHERE MaPB = 3;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP042' WHERE MaPB = 4;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP043' WHERE MaPB = 5;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP044' WHERE MaPB = 6;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP045' WHERE MaPB = 7;
 UPDATE GOD.PHONGBAN set TrPHG = 'TP046' WHERE MaPB = 8;

# DE AN

In [10]:
'''
DeAn (
	MaDA 		varchar(10) primary key,
	TenDA 	varchar2(60) not null,
	NgayBD 	date,
	Phong 	number,
    TruongDeAn varchar(10)
	
)
'''
l = []
for i in range(1, 9):
    for j in range(1, rd.randint(3, 5)):
        MaDA = '\'DA' + str(i) + '0' + str(j) + '\'';
        l.append(MaDA);

        TenDA = '\'De An so ' + str(j) + ' Phong ' + str(i) + '\'';
        NgayBD  = 'TO_DATE(' + '\'' + str(rd.randint(2020, 2022)) + '-' + str(rd.randint(1, 12)) + '-' + str(rd.randint(1, 28)) + '\',\'YYYY-MM-DD\')'
        Phong = str(i)
        TruongDA = 'TDA0' + str(rd.randint(36, 38))
        final = MaDA + ', ' + TenDA + ', ' + NgayBD + ', ' + Phong + ', ' + '\'' +  TruongDA + '\''
        print('into GOD.DEAN values(' +  final + ')')

into GOD.DEAN values('DA101', 'De An so 1 Phong 1', TO_DATE('2020-12-24','YYYY-MM-DD'), 1, 'TDA038')
into GOD.DEAN values('DA102', 'De An so 2 Phong 1', TO_DATE('2022-11-25','YYYY-MM-DD'), 1, 'TDA038')
into GOD.DEAN values('DA103', 'De An so 3 Phong 1', TO_DATE('2020-6-14','YYYY-MM-DD'), 1, 'TDA036')
into GOD.DEAN values('DA104', 'De An so 4 Phong 1', TO_DATE('2022-5-24','YYYY-MM-DD'), 1, 'TDA038')
into GOD.DEAN values('DA201', 'De An so 1 Phong 2', TO_DATE('2022-2-15','YYYY-MM-DD'), 2, 'TDA037')
into GOD.DEAN values('DA202', 'De An so 2 Phong 2', TO_DATE('2020-7-12','YYYY-MM-DD'), 2, 'TDA036')
into GOD.DEAN values('DA301', 'De An so 1 Phong 3', TO_DATE('2021-12-16','YYYY-MM-DD'), 3, 'TDA038')
into GOD.DEAN values('DA302', 'De An so 2 Phong 3', TO_DATE('2022-4-27','YYYY-MM-DD'), 3, 'TDA036')
into GOD.DEAN values('DA401', 'De An so 1 Phong 4', TO_DATE('2022-5-28','YYYY-MM-DD'), 4, 'TDA037')
into GOD.DEAN values('DA402', 'De An so 2 Phong 4', TO_DATE('2020-2-15','YYYY-MM-DD'), 4, 'TDA038')
into GOD.DEAN values('DA403', 'De An so 3 Phong 4', TO_DATE('2020-10-26','YYYY-MM-DD'), 4, 'TDA038')
into GOD.DEAN values('DA404', 'De An so 4 Phong 4', TO_DATE('2020-9-23','YYYY-MM-DD'), 4, 'TDA038')
into GOD.DEAN values('DA501', 'De An so 1 Phong 5', TO_DATE('2022-12-14','YYYY-MM-DD'), 5, 'TDA037')
into GOD.DEAN values('DA502', 'De An so 2 Phong 5', TO_DATE('2021-7-11','YYYY-MM-DD'), 5, 'TDA037')
into GOD.DEAN values('DA601', 'De An so 1 Phong 6', TO_DATE('2021-6-23','YYYY-MM-DD'), 6, 'TDA037')
into GOD.DEAN values('DA602', 'De An so 2 Phong 6', TO_DATE('2021-12-7','YYYY-MM-DD'), 6, 'TDA038')
into GOD.DEAN values('DA603', 'De An so 3 Phong 6', TO_DATE('2021-3-10','YYYY-MM-DD'), 6, 'TDA037')
into GOD.DEAN values('DA604', 'De An so 4 Phong 6', TO_DATE('2022-6-22','YYYY-MM-DD'), 6, 'TDA036')
into GOD.DEAN values('DA701', 'De An so 1 Phong 7', TO_DATE('2022-5-22','YYYY-MM-DD'), 7, 'TDA038')
into GOD.DEAN values('DA702', 'De An so 2 Phong 7', TO_DATE('2022-3-12','YYYY-MM-DD'), 7, 'TDA036')
into GOD.DEAN values('DA801', 'De An so 1 Phong 8', TO_DATE('2020-4-25','YYYY-MM-DD'), 8, 'TDA038')
into GOD.DEAN values('DA802', 'De An so 2 Phong 8', TO_DATE('2020-8-23','YYYY-MM-DD'), 8, 'TDA036')
into GOD.DEAN values('DA803', 'De An so 3 Phong 8', TO_DATE('2021-10-17','YYYY-MM-DD'), 8, 'TDA038')

## Phan Cong

In [11]:
'''
	PhanCong (
	MaNV 		varchar(10) primary key,
	MaDA 		varchar(10) primary key,
	ThoiGian 	date
	
)

'''
import numpy as np
for i in range(47, 347, 3):
    MaNV = '\'NV'+ str(i) + '\''
    for j in range(1, rd.randint(2, 3)):
        MaDA = '\'DA' + str(i%8 + 1) + '0' + str(j) + '\'';
        TG  = 'TO_DATE(' + '\'' + str(rd.randint(2020, 2022)) + '-' + str(rd.randint(1, 12)) + '-' + str(rd.randint(1, 28)) + '\',\'YYYY-MM-DD\')'
        final = MaNV + ', ' + MaDA + ', ' + TG  
        print('into PHANCONG values(' +  final + ')')

into PHANCONG values('NV47', 'DA801', TO_DATE('2022-12-6','YYYY-MM-DD'))
into PHANCONG values('NV50', 'DA301', TO_DATE('2020-7-8','YYYY-MM-DD'))
into PHANCONG values('NV50', 'DA302', TO_DATE('2021-5-10','YYYY-MM-DD'))
into PHANCONG values('NV53', 'DA601', TO_DATE('2022-7-2','YYYY-MM-DD'))
into PHANCONG values('NV56', 'DA101', TO_DATE('2021-1-23','YYYY-MM-DD'))
into PHANCONG values('NV59', 'DA401', TO_DATE('2022-9-8','YYYY-MM-DD'))
into PHANCONG values('NV59', 'DA402', TO_DATE('2020-8-4','YYYY-MM-DD'))
into PHANCONG values('NV62', 'DA701', TO_DATE('2020-2-21','YYYY-MM-DD'))
into PHANCONG values('NV62', 'DA702', TO_DATE('2021-4-26','YYYY-MM-DD'))
into PHANCONG values('NV65', 'DA201', TO_DATE('2021-4-5','YYYY-MM-DD'))
into PHANCONG values('NV65', 'DA202', TO_DATE('2021-6-3','YYYY-MM-DD'))
into PHANCONG values('NV68', 'DA501', TO_DATE('2021-12-22','YYYY-MM-DD'))
into PHANCONG values('NV68', 'DA502', TO_DATE('2022-12-26','YYYY-MM-DD'))
into PHANCONG values('NV71', 'DA801', TO_DATE('2022-2-14','YYYY-MM-DD'))
into PHANCONG values('NV74', 'DA301', TO_DATE('2021-6-21','YYYY-MM-DD'))
into PHANCONG values('NV74', 'DA302', TO_DATE('2021-3-6','YYYY-MM-DD'))
into PHANCONG values('NV77', 'DA601', TO_DATE('2020-6-25','YYYY-MM-DD'))
into PHANCONG values('NV77', 'DA602', TO_DATE('2021-12-19','YYYY-MM-DD'))
into PHANCONG values('NV80', 'DA101', TO_DATE('2021-8-9','YYYY-MM-DD'))
into PHANCONG values('NV83', 'DA401', TO_DATE('2021-9-22','YYYY-MM-DD'))
into PHANCONG values('NV83', 'DA402', TO_DATE('2022-9-22','YYYY-MM-DD'))
into PHANCONG values('NV86', 'DA701', TO_DATE('2022-10-16','YYYY-MM-DD'))
into PHANCONG values('NV86', 'DA702', TO_DATE('2020-11-17','YYYY-MM-DD'))
into PHANCONG values('NV89', 'DA201', TO_DATE('2022-7-9','YYYY-MM-DD'))
into PHANCONG values('NV92', 'DA501', TO_DATE('2021-9-11','YYYY-MM-DD'))
into PHANCONG values('NV95', 'DA801', TO_DATE('2020-3-16','YYYY-MM-DD'))
into PHANCONG values('NV95', 'DA802', TO_DATE('2021-7-12','YYYY-MM-DD'))
into PHANCONG values('NV98', 'DA301', TO_DATE('2022-3-7','YYYY-MM-DD'))
into PHANCONG values('NV98', 'DA302', TO_DATE('2021-7-8','YYYY-MM-DD'))
into PHANCONG values('NV101', 'DA601', TO_DATE('2021-9-1','YYYY-MM-DD'))
into PHANCONG values('NV101', 'DA602', TO_DATE('2020-10-10','YYYY-MM-DD'))
into PHANCONG values('NV104', 'DA101', TO_DATE('2020-1-26','YYYY-MM-DD'))
into PHANCONG values('NV104', 'DA102', TO_DATE('2020-6-13','YYYY-MM-DD'))
into PHANCONG values('NV107', 'DA401', TO_DATE('2020-2-14','YYYY-MM-DD'))
into PHANCONG values('NV107', 'DA402', TO_DATE('2020-7-8','YYYY-MM-DD'))
into PHANCONG values('NV110', 'DA701', TO_DATE('2022-10-17','YYYY-MM-DD'))
into PHANCONG values('NV113', 'DA201', TO_DATE('2022-3-9','YYYY-MM-DD'))
into PHANCONG values('NV113', 'DA202', TO_DATE('2022-1-20','YYYY-MM-DD'))
into PHANCONG values('NV116', 'DA501', TO_DATE('2022-2-17','YYYY-MM-DD'))
into PHANCONG values('NV119', 'DA801', TO_DATE('2022-4-14','YYYY-MM-DD'))
into PHANCONG values('NV122', 'DA301', TO_DATE('2020-12-20','YYYY-MM-DD'))
into PHANCONG values('NV125', 'DA601', TO_DATE('2020-4-3','YYYY-MM-DD'))
into PHANCONG values('NV128', 'DA101', TO_DATE('2021-3-27','YYYY-MM-DD'))
into PHANCONG values('NV128', 'DA102', TO_DATE('2022-2-14','YYYY-MM-DD'))
into PHANCONG values('NV131', 'DA401', TO_DATE('2021-5-11','YYYY-MM-DD'))
into PHANCONG values('NV131', 'DA402', TO_DATE('2020-6-18','YYYY-MM-DD'))
into PHANCONG values('NV134', 'DA701', TO_DATE('2021-8-27','YYYY-MM-DD'))
into PHANCONG values('NV134', 'DA702', TO_DATE('2022-11-26','YYYY-MM-DD'))
into PHANCONG values('NV137', 'DA201', TO_DATE('2020-2-14','YYYY-MM-DD'))
into PHANCONG values('NV137', 'DA202', TO_DATE('2021-12-1','YYYY-MM-DD'))
into PHANCONG values('NV140', 'DA501', TO_DATE('2021-5-15','YYYY-MM-DD'))
into PHANCONG values('NV143', 'DA801', TO_DATE('2021-8-28','YYYY-MM-DD'))
into PHANCONG values('NV143', 'DA802', TO_DATE('2020-11-6','YYYY-MM-DD'))
into PHANCONG values('NV146', 'DA301', TO_DATE('2020-7-26','YYYY-MM-DD'))
into PHANCONG values('NV149', 'DA601', TO_DATE('2021-9-2','YYYY-MM-DD'))
into PHANCONG values('NV152', 'DA101', TO_DATE('2022-1-15','YYYY-MM-DD'))
into PHANCONG values('NV152', 'DA102', TO_DATE('2020-11-18','YYYY-MM-DD'))
into PHANCONG values('NV155', 'DA401', TO_DATE('2021-6-3','YYYY-MM-DD'))
into PHANCONG values('NV158', 'DA701', TO_DATE('2020-1-4','YYYY-MM-DD'))
into PHANCONG values('NV158', 'DA702', TO_DATE('2021-3-21','YYYY-MM-DD'))
into PHANCONG values('NV161', 'DA201', TO_DATE('2020-2-24','YYYY-MM-DD'))
into PHANCONG values('NV161', 'DA202', TO_DATE('2020-5-9','YYYY-MM-DD'))
into PHANCONG values('NV164', 'DA501', TO_DATE('2021-1-12','YYYY-MM-DD'))
into PHANCONG values('NV167', 'DA801', TO_DATE('2022-1-10','YYYY-MM-DD'))
into PHANCONG values('NV170', 'DA301', TO_DATE('2020-2-27','YYYY-MM-DD'))
into PHANCONG values('NV173', 'DA601', TO_DATE('2020-6-14','YYYY-MM-DD'))
into PHANCONG values('NV173', 'DA602', TO_DATE('2020-5-2','YYYY-MM-DD'))
into PHANCONG values('NV176', 'DA101', TO_DATE('2022-6-10','YYYY-MM-DD'))
into PHANCONG values('NV179', 'DA401', TO_DATE('2021-11-25','YYYY-MM-DD'))
into PHANCONG values('NV179', 'DA402', TO_DATE('2022-2-22','YYYY-MM-DD'))
into PHANCONG values('NV182', 'DA701', TO_DATE('2020-6-24','YYYY-MM-DD'))
into PHANCONG values('NV182', 'DA702', TO_DATE('2021-11-25','YYYY-MM-DD'))
into PHANCONG values('NV185', 'DA201', TO_DATE('2022-11-3','YYYY-MM-DD'))
into PHANCONG values('NV188', 'DA501', TO_DATE('2020-5-18','YYYY-MM-DD'))
into PHANCONG values('NV188', 'DA502', TO_DATE('2022-10-4','YYYY-MM-DD'))
into PHANCONG values('NV191', 'DA801', TO_DATE('2020-11-9','YYYY-MM-DD'))
into PHANCONG values('NV194', 'DA301', TO_DATE('2022-6-25','YYYY-MM-DD'))
into PHANCONG values('NV194', 'DA302', TO_DATE('2020-5-5','YYYY-MM-DD'))
into PHANCONG values('NV197', 'DA601', TO_DATE('2021-2-2','YYYY-MM-DD'))
into PHANCONG values('NV200', 'DA101', TO_DATE('2021-4-24','YYYY-MM-DD'))
into PHANCONG values('NV203', 'DA401', TO_DATE('2021-6-20','YYYY-MM-DD'))
into PHANCONG values('NV206', 'DA701', TO_DATE('2022-6-2','YYYY-MM-DD'))
into PHANCONG values('NV209', 'DA201', TO_DATE('2020-6-18','YYYY-MM-DD'))
into PHANCONG values('NV212', 'DA501', TO_DATE('2022-1-12','YYYY-MM-DD'))
into PHANCONG values('NV212', 'DA502', TO_DATE('2021-2-4','YYYY-MM-DD'))
into PHANCONG values('NV215', 'DA801', TO_DATE('2021-6-15','YYYY-MM-DD'))
into PHANCONG values('NV218', 'DA301', TO_DATE('2020-10-11','YYYY-MM-DD'))
into PHANCONG values('NV221', 'DA601', TO_DATE('2020-11-14','YYYY-MM-DD'))
into PHANCONG values('NV221', 'DA602', TO_DATE('2020-1-4','YYYY-MM-DD'))
into PHANCONG values('NV224', 'DA101', TO_DATE('2020-2-6','YYYY-MM-DD'))
into PHANCONG values('NV224', 'DA102', TO_DATE('2022-6-26','YYYY-MM-DD'))
into PHANCONG values('NV227', 'DA401', TO_DATE('2021-12-7','YYYY-MM-DD'))
into PHANCONG values('NV230', 'DA701', TO_DATE('2020-8-27','YYYY-MM-DD'))
into PHANCONG values('NV230', 'DA702', TO_DATE('2022-11-4','YYYY-MM-DD'))
into PHANCONG values('NV233', 'DA201', TO_DATE('2022-5-13','YYYY-MM-DD'))
into PHANCONG values('NV236', 'DA501', TO_DATE('2022-11-25','YYYY-MM-DD'))
into PHANCONG values('NV239', 'DA801', TO_DATE('2020-2-5','YYYY-MM-DD'))
into PHANCONG values('NV239', 'DA802', TO_DATE('2021-1-13','YYYY-MM-DD'))
into PHANCONG values('NV242', 'DA301', TO_DATE('2020-9-7','YYYY-MM-DD'))
into PHANCONG values('NV242', 'DA302', TO_DATE('2020-1-19','YYYY-MM-DD'))
into PHANCONG values('NV245', 'DA601', TO_DATE('2022-4-8','YYYY-MM-DD'))
into PHANCONG values('NV245', 'DA602', TO_DATE('2022-10-9','YYYY-MM-DD'))
into PHANCONG values('NV248', 'DA101', TO_DATE('2020-3-9','YYYY-MM-DD'))
into PHANCONG values('NV251', 'DA401', TO_DATE('2021-5-1','YYYY-MM-DD'))
into PHANCONG values('NV251', 'DA402', TO_DATE('2021-6-27','YYYY-MM-DD'))
into PHANCONG values('NV254', 'DA701', TO_DATE('2022-7-12','YYYY-MM-DD'))
into PHANCONG values('NV254', 'DA702', TO_DATE('2022-7-7','YYYY-MM-DD'))
into PHANCONG values('NV257', 'DA201', TO_DATE('2022-4-18','YYYY-MM-DD'))
into PHANCONG values('NV260', 'DA501', TO_DATE('2021-5-13','YYYY-MM-DD'))
into PHANCONG values('NV260', 'DA502', TO_DATE('2022-9-14','YYYY-MM-DD'))
into PHANCONG values('NV263', 'DA801', TO_DATE('2020-4-17','YYYY-MM-DD'))
into PHANCONG values('NV266', 'DA301', TO_DATE('2022-5-22','YYYY-MM-DD'))
into PHANCONG values('NV269', 'DA601', TO_DATE('2020-1-17','YYYY-MM-DD'))
into PHANCONG values('NV272', 'DA101', TO_DATE('2020-5-3','YYYY-MM-DD'))
into PHANCONG values('NV272', 'DA102', TO_DATE('2021-5-12','YYYY-MM-DD'))
into PHANCONG values('NV275', 'DA401', TO_DATE('2021-1-21','YYYY-MM-DD'))
into PHANCONG values('NV278', 'DA701', TO_DATE('2020-1-16','YYYY-MM-DD'))
into PHANCONG values('NV281', 'DA201', TO_DATE('2020-4-24','YYYY-MM-DD'))
into PHANCONG values('NV284', 'DA501', TO_DATE('2021-4-15','YYYY-MM-DD'))
into PHANCONG values('NV284', 'DA502', TO_DATE('2021-3-14','YYYY-MM-DD'))
into PHANCONG values('NV287', 'DA801', TO_DATE('2020-7-2','YYYY-MM-DD'))
into PHANCONG values('NV287', 'DA802', TO_DATE('2021-8-21','YYYY-MM-DD'))
into PHANCONG values('NV290', 'DA301', TO_DATE('2021-8-15','YYYY-MM-DD'))
into PHANCONG values('NV293', 'DA601', TO_DATE('2022-8-19','YYYY-MM-DD'))
into PHANCONG values('NV293', 'DA602', TO_DATE('2022-4-11','YYYY-MM-DD'))
into PHANCONG values('NV296', 'DA101', TO_DATE('2020-12-25','YYYY-MM-DD'))
into PHANCONG values('NV299', 'DA401', TO_DATE('2020-6-24','YYYY-MM-DD'))
into PHANCONG values('NV299', 'DA402', TO_DATE('2020-10-4','YYYY-MM-DD'))
into PHANCONG values('NV302', 'DA701', TO_DATE('2020-2-16','YYYY-MM-DD'))
into PHANCONG values('NV305', 'DA201', TO_DATE('2021-4-6','YYYY-MM-DD'))
into PHANCONG values('NV308', 'DA501', TO_DATE('2022-4-23','YYYY-MM-DD'))
into PHANCONG values('NV308', 'DA502', TO_DATE('2021-3-27','YYYY-MM-DD'))
into PHANCONG values('NV311', 'DA801', TO_DATE('2020-2-5','YYYY-MM-DD'))
into PHANCONG values('NV314', 'DA301', TO_DATE('2020-8-13','YYYY-MM-DD'))
into PHANCONG values('NV317', 'DA601', TO_DATE('2022-9-28','YYYY-MM-DD'))
into PHANCONG values('NV320', 'DA101', TO_DATE('2022-6-11','YYYY-MM-DD'))
into PHANCONG values('NV320', 'DA102', TO_DATE('2021-9-20','YYYY-MM-DD'))
into PHANCONG values('NV323', 'DA401', TO_DATE('2022-10-3','YYYY-MM-DD'))
into PHANCONG values('NV326', 'DA701', TO_DATE('2022-6-25','YYYY-MM-DD'))
into PHANCONG values('NV329', 'DA201', TO_DATE('2020-8-26','YYYY-MM-DD'))
into PHANCONG values('NV332', 'DA501', TO_DATE('2021-7-13','YYYY-MM-DD'))
into PHANCONG values('NV332', 'DA502', TO_DATE('2022-10-15','YYYY-MM-DD'))
into PHANCONG values('NV335', 'DA801', TO_DATE('2021-8-28','YYYY-MM-DD'))
into PHANCONG values('NV335', 'DA802', TO_DATE('2021-11-8','YYYY-MM-DD'))
into PHANCONG values('NV338', 'DA301', TO_DATE('2022-3-10','YYYY-MM-DD'))
into PHANCONG values('NV341', 'DA601', TO_DATE('2021-10-2','YYYY-MM-DD'))
into PHANCONG values('NV341', 'DA602', TO_DATE('2020-12-13','YYYY-MM-DD'))
into PHANCONG values('NV344', 'DA101', TO_DATE('2021-3-25','YYYY-MM-DD'))

# Thong bao

In [1]:
KV = ['Mien Bac', 'Mien Trung', 'Mien Nam']
LV = ['San xuat', 'Gia Cong', 'Mua ban']
VT = ['Giam doc', 'Truong phong', 'Nhan vien']

for i in VT:
    for j in LV:
        for k in KV:
            nd = '\'Thong bao toi ' + i + ' thuoc linh vuc ' + j + ' cua khu vuc ' + k + '\''
            print ('insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES(' + nd + ', \'' + i + '\',\'' + j + '\',\''  + k + '\');')

insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc San xuat cua khu vuc Mien Bac', 'Giam doc','San xuat','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc San xuat cua khu vuc Mien Trung', 'Giam doc','San xuat','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc San xuat cua khu vuc Mien Nam', 'Giam doc','San xuat','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc Gia Cong cua khu vuc Mien Bac', 'Giam doc','Gia Cong','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc Gia Cong cua khu vuc Mien Trung', 'Giam doc','Gia Cong','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc Gia Cong cua khu vuc Mien Nam', 'Giam doc','Gia Cong','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc Mua ban cua khu vuc Mien Bac', 'Giam doc','Mua ban','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc Mua ban cua khu vuc Mien Trung', 'Giam doc','Mua ban','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Giam doc thuoc linh vuc Mua ban cua khu vuc Mien Nam', 'Giam doc','Mua ban','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc San xuat cua khu vuc Mien Bac', 'Truong phong','San xuat','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc San xuat cua khu vuc Mien Trung', 'Truong phong','San xuat','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc San xuat cua khu vuc Mien Nam', 'Truong phong','San xuat','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc Gia Cong cua khu vuc Mien Bac', 'Truong phong','Gia Cong','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc Gia Cong cua khu vuc Mien Trung', 'Truong phong','Gia Cong','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc Gia Cong cua khu vuc Mien Nam', 'Truong phong','Gia Cong','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc Mua ban cua khu vuc Mien Bac', 'Truong phong','Mua ban','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc Mua ban cua khu vuc Mien Trung', 'Truong phong','Mua ban','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Truong phong thuoc linh vuc Mua ban cua khu vuc Mien Nam', 'Truong phong','Mua ban','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc San xuat cua khu vuc Mien Bac', 'Nhan vien','San xuat','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc San xuat cua khu vuc Mien Trung', 'Nhan vien','San xuat','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc San xuat cua khu vuc Mien Nam', 'Nhan vien','San xuat','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc Gia Cong cua khu vuc Mien Bac', 'Nhan vien','Gia Cong','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc Gia Cong cua khu vuc Mien Trung', 'Nhan vien','Gia Cong','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc Gia Cong cua khu vuc Mien Nam', 'Nhan vien','Gia Cong','Mien Nam');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc Mua ban cua khu vuc Mien Bac', 'Nhan vien','Mua ban','Mien Bac');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc Mua ban cua khu vuc Mien Trung', 'Nhan vien','Mua ban','Mien Trung');
insert into THONGBAO(NOIDUNG, DOITUONG, LINHVUC, KHUVUC) VALUES('Thong bao toi Nhan vien thuoc linh vuc Mua ban cua khu vuc Mien Nam', 'Nhan vien','Mua ban','Mien Nam');